/* Default CSS */
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #fff;
  overflow-x: hidden;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}
i {
  padding: 0px 10px;
}
/* Overall Page CSS */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(32, 32, 32);
  background-image: linear-gradient(45deg, rgb(54 54 54 / 10%) 25%, transparent 25%, transparent 50%, rgb(55 55 55 / 10%) 50%, rgb(55 55 55 / 10%) 75%, transparent 75%, transparent);
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
}

main{  
  padding: 0px 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: rgb(32 32 32);
  color: #fff;
  height: 100%;
  width: 90%; /* Responsive width */
  max-width: 500px; /* Maximum width */
  text-align: center;
}
div#hero-img {
  padding: 20px 0px;
}
.profile-pic{
  width: 100%;
}
.contact{
  text-align: left;
}