/* Default CSS */
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #fff;
  overflow-x: hidden;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}
i {
  padding: 0px 10px;
}
/* Overall Page CSS */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4e4e4e;
  /* background-color: #f0f0f0; */
  height: 100vh;
}

main{  
  padding: 0px 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: rgb(42 42 42);
  color: #fff;
  height: 100%;
  width: 90%; /* Responsive width */
  max-width: 500px; /* Maximum width */
  text-align: center;
}
div#hero-img {
  padding: 20px 0px;
}
.profile-pic{
  width: 100%;
}
.contact{
  text-align: left;
}